h1 {
  background: grey;
}
.optionlist li {
  display: inline;
  list-style-type: none;
}
.column1 {
  width: 60%;
  float: left;
}
.column2 {
  width: 40%;
  float: right;
}
.link {
  padding: 10px;
}
